/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding-right: 10px;
  padding-left: 10px;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: auto;
  font-family: var(--font-family), monospace;
  position: relative;
}

.decorative-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--decorative-text-color);
  display: var(--decorative-text-dispaly);
}

.decorative-text:after {
  content: ' ';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--decorative-text-color);
  border-radius: 50%;
  box-shadow:  0 0 4px 2px var(--decorative-text-color);
  margin-bottom: 2px;
}

.header__theme-menu {
  padding-top: 77px;
  padding-bottom: 56px;
  display: grid;
  justify-content: end;
  gap: 10px;
}

.cover__title {
  display: flex;
  padding-bottom: 53px;
  text-shadow: 4px 4px 0 var(--cover-title-shadow-color);
  color: var(--cover-title-text-color);
}

.cover__description {
  padding-bottom: 66px;
  display: grid;
  justify-content: end;
  height: min-content;
}

.cover__description-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--title-decor-bg-color);
  color: var(--title-decor-text);
}

.decorated-zone::before,
.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

h1 {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.main {
  margin: 40px 10px 41px 10px;
}

.main__section {
  margin-bottom: 50px;
}

.main__title {
  margin-bottom: 20px;
  font-family: var(--font-family), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--main-title-text-color)
}

.card__title {
  font-family: var(--font-family), monospace;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.card__title-advice {
  margin-bottom: 20px;
}

.card__text {
  font-family: var(--font-family), monospace;
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-text-color);
  margin-bottom: 19.5px;
}


.main__card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--card-shadow-color);
  outline: none;
}

.main__card-link:hover {
  border-bottom: 1px solid var(--card-text-color);
}

.main__card-link:focus-visible {
  border: 1px solid var(--card-text-color);
}

.main__card-link:focus {
  border: 1px solid var(--card-text-color);
}

.title-decor-normal {
  font-weight: normal;
}

.picture {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.card-list-picture {
  display: grid;
  gap: 10px;
}

.footer {
  display: grid;
  height: 100vh;
  min-height: 668px;
  position: relative;
  font-family: var(--font-family), monospace;
  justify-items: center;
  align-items: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: bold;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--cover-title-shadow-color);
  color: var(--cover-title-text-color);
}

.header__theme-menu-button {
  border: none;
  background-color: inherit;
  font-family: var(--font-family), monospace;
  text-transform: lowercase;
  color: var(--bottom-color);
  font-size: 18px;
  line-height: 18px;
  padding: 1px 13px 5px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--bottom-hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--bottom-color);
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--bottom-color);
  text-underline-offset: 4px;
}

.header__theme-menu-item {
  margin-bottom: 11px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--bottom-color);
}

@media (min-width: 768px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__theme-menu {
    padding-top: 192px;
    padding-bottom: 166px;
  }

  .cover__title {
    padding-bottom: 159px;
    margin-left: -20px;
  }

  .cover__description {
    padding-left: 363px;
    padding-bottom: 183px;
  }

  .main {
    margin: 60px 18px 60px 20px;
  }

  .main__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
    margin-bottom: 20px;
  }

  .main__section-what {
    gap: 20px;
    margin-bottom: 62px;
  }

  .main__section-how {
    margin-bottom: 60px;
  }

  .main__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card__title {
    grid-column: 2 / 4;
  }

  .main__card-list {
    grid-column: span 2;
  }

  .main__title-what {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .main__card-list-what {
    grid-column: 1 / 4;
    grid-row-start: 2;
  }

  .card__title-picture {
    grid-column: span 4;
    grid-row: 1 / 2;
  }

  .card__title-advice {
    margin-bottom: -20px;
  }

  .card-list-picture {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    gap: 20px;
    box-sizing: border-box;
  }

  .picture-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .picture-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .picture-tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .picture-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .card__title-picture {
    margin-bottom: 20px;
  }

  .decorative-text {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
 
  .header__theme-menu {
    padding-top: 20px;
    padding-bottom: 262px;
    justify-content: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  h1 {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover__title {
    padding-bottom: 113px;
    margin-left: 0;
  }

  .cover__description {
    padding-left: 513px;
    padding-right: 20px;
  }

  .main__card-list-what {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main {
    margin: 60px 20px 62px 20px;
  }

  .main__section {
    gap: 20px;
    margin-bottom: 40px;
  }

  .main__section-how {
  padding-top: 20px;  
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .card__title-advice {
    margin-bottom: 0;
  }

  .main__section-picture {
    padding-top: 23px;
  }

}