/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --decorated-zone-color: #FF0070;
  --cover-title-text-color: #DB00FF;
  --cover-title-shadow-color: #FF0070;
  --title-decor-text: #000028;
  --title-decor-bg-color: #FF0070;
  --main-title-text-color: #FF0070;
  --card-text-color: #F1B2CE;
  --card-shadow-color: #FF0070;
  --bottom-hover-color: rgb(255, 0, 112, 0.4);
  --bottom-color: #FF0070;
  --decorative-text-color: #FF0070;
  --font-family: 'IBM Plex mono', sans-serif;
  --decorative-text-dispaly: block;
}
